/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.idea
.vscode
spreadsheet
sheet
*.o
*.exe
cmake-build-debug
aks
CMakeFiles
CMakeLists.txt
cmake_install.cmake
cop290
test
testcase.txt
*.txt
*.xlsx
tc_genv3.py